*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
}
body{
    background-color: lightcoral;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    padding-block: 10px;
}

img{
    height: 200px;
    border-radius: 50%;
    align-items: right;
}

hr{
    margin-block: 15px;
}
h1{
    text-align: center;

}
span{
    text-transform: uppercase;
    color: rgb(61, 9, 145);
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.contenedor{
    border-top: 2px;
    color: rgb(235, 23, 69);
    padding-inline: 100px;
    text-align: left;
}
.contenedor img, h1, h4{
    display:inline
}
.Datos{
    color: black;
    display: flex;
    justify-content:center;
    }

.Sobre-mi{
    color: black;
    padding-inline: 100px;
}

ol{
    list-style-type:lower-alpha;
}