*{
    margin: 0px;
    padding: 0px;

}



body{
    background-color: lightcoral;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    padding-block: 10px;
}

img{
    height: 200px;
    border-radius: 50%;
}

h1{
    text-align: center;

}
.contenedor{
    border-top: 2px;
    color: rgb(212, 72, 154);
    display: inline-block;
    padding-left: 50px;
    text-align: left;

}
.Datos{
    width: 150px;
    height: 150px;
    color: purple;
    display: flex;
    padding: 20px;
    align-items: flex-end;
    justify-content:left
    }
.barraizquierda{

}