*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: purple;
}
img{
    width: 400;
}
.contenedor{
    display:flex;
    justify-content: center;
    align-items: center;
    float:left;

}
.Datos{
        width: 900px;
        height: 150px;
        color: grey;
        display: flex;
        padding: 20px;
        align-items: center;
        justify-content: space-around;
}
head {
    border: 1px;scroll-padding-inline: ;
}